html,body{ height: 100%; font-family: 'Futura'; font-style: normal;}
body{background: #1a1a1a; position: relative; margin: 0; min-width: 100vh;}
hr{width: 92%;}



.box_cards{
    position: relative;
    display: block;
    width: 100%;
    height: 40%;
    background-color: blue;
}
.card{
    position: relative;
    display:inline-block;
    width: 20%;
    height: 50%;
    background-color: crimson;
}