html,body{ height: 100%; font-family: 'Futura'; font-style: normal;}
body{background: #1a1a1a; position: relative; margin: 0;}
hr{width: 92%;}

@font-face {
    font-family: 'GT';
    src: url('font/GTL001-Regular.ttf') format('truetype');;
 }
 @font-face {
    font-family: 'DT';
    src: url('font/DTGetaiGroteskDisplay-Black.ttf') format('truetype');;
 }
 @font-face {
    font-family: 'Type_V';
    src: url('font/Typefesse_Claire-Obscure.otf') format('truetype');;
 }
 @font-face {
    font-family: 'Type_P';
    src: url('font/Typefesse_Pleine.otf') format('truetype');;
 }

header{
    position:fixed;
    width: 100%;
    height: 13%;
    top: 0%;
    z-index: 3;
    
}

.copertina{
    position: relative;
    width: 100%;
    height: 50%;
    top: 5%;
    z-index: 0;
}

.box_cards{
    position: relative;
    display: block;
    width: 90%;
    height: 40%;
    margin-left: 5%;
    margin-right: 4%;
    z-index: 1;
}
.card{
    position: relative;
    display:inline-block;
    align-self: center;
    width: 27%;
    height: 50%;
    margin: 0% 3%;
}

.stagione{
        font-family: 'Type_V';
        font-style: normal;
        font-size: 60px;
        text-align: center;
     
        margin-bottom: 4%;
        margin-top: 4%;
        margin-right: 5%;
        margin-left: 0px;
     
        
        color: #e5e5e5;
     
}


@media screen and (max-width: 1050px) {
    .copertina{
        width: 100%;
        height: 30%;
        top: 10%;
    }
    .box_cards{
        position: relative;
        display: block;
        width: 98%;
        height: 40%;
        margin-left: 1%;
        margin-right: 1%;
        
        }

    .card{
        position: relative;
        display:block;
        align-self: center;
        width: 90%;
        height: 40%;
        margin: 5%;
        margin-bottom: 15%;
    }
    header{
        position:fixed;
        width: 100%;
        height: 18%;
        top: 0%;
        z-index: 3;
        
    }

    .stagione{
        font-size: 50px;
        margin-top: 15%;
     
}

}
