html,body{ height: 100%; font-family: 'Futura'; font-style: normal;}
body{background: #1a1a1a; position: relative; margin: 0; min-width: 100vh;}
hr{width: 92%;}



.box_cards{
    position: relative;
    display: block;
    width: 90%;
    height: 40%;
    margin-left: 5%;
    margin-right: 4%;

}
.card{
    position: relative;
    display:inline-block;
    align-self: center;
    width: 27%;
    height: 50%;
    margin: 3%;
}